n8n-workflow.json
{
  "name": "Memorial — Воспоминания",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "memorial-tribute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "memorial-tribute"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Ответ клиенту",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "ВСТАВЬ_ID_ТАБЛИЦЫ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $json.body.date }}",
            "Страница": "={{ $json.body.page }}",
            "Имя": "={{ $json.body.name }}",
            "Кем приходится": "={{ $json.body.relation }}",
            "Воспоминание": "={{ $json.body.message }}",
            "URL": "={{ $json.body.url }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "ВСТАВЬ_СВОЙ_CHAT_ID",
        "text": "=📝 Новое воспоминание\n\n🗂 Страница: *{{ $('Webhook').item.json.body.page }}*\n👤 *{{ $('Webhook').item.json.body.name }}* ({{ $('Webhook').item.json.body.relation }})\n\n💬 {{ $('Webhook').item.json.body.message }}\n\n🔗 {{ $('Webhook').item.json.body.url }}\n🕐 {{ $('Webhook').item.json.body.date }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [460, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ответ клиенту",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
